body {
    padding: 30px;
}

.slider-wrapper{
    display: -webkit-flex;
    display: flex;
}

.slider-label{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;    
    float: left;
}

.slider-object{
    padding-left: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;    
    -webkit-flex: 1 0 0;
    flex: 1 0 0;    
}

/********************************************/
/* default theme */
/* Works ONLY on Chrome and Firefox */
.default {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
}
.default::-webkit-slider-runnable-track {
/*    width: 100%;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.default::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
.default:focus {
    outline: none;
}
.default:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.default::-moz-range-track {
/*    width: 100%;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.default::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
/********************************************/

/********************************************/
/* dark-knight theme */
/* Works ONLY on Chrome and Firefox */

input[type=range].dark-knight {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range].dark-knight:focus {
  outline: none;
}
input[type=range].dark-knight::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].dark-knight::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 17px;
  width: 50px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].dark-knight:focus::-webkit-slider-runnable-track {
  background: #595f5f;
}

input[type=range].dark-knight::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].dark-knight::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 17px;
  width: 50px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}

/********************************************/


/********************************************/
/* qliker theme */
/* Works ONLY on Chrome and Firefox */
input[type=range].qliker {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
}
input[type=range].qliker:focus {
  outline: none;
}
input[type=range].qliker::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #2c8d00;
  border-radius: 25px;
  border: 0px solid #dbd58f;
}
input[type=range].qliker::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 0px rgba(55, 255, 0, 0), 0px 0px 0.8px rgba(75, 255, 26, 0);
  border: 2.5px solid #003300;
  height: 18px;
  width: 42px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range].qliker:focus::-webkit-slider-runnable-track {
  background: #2f9700;
}

input[type=range].qliker::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #2c8d00;
  border-radius: 25px;
  border: 0px solid #dbd58f;
}
input[type=range].qliker::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 0px rgba(55, 255, 0, 0), 0px 0px 0.8px rgba(75, 255, 26, 0);
  border: 2.5px solid #003300;
  height: 18px;
  width: 42px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
/********************************************/


/********************************************/
/* dark-knight theme */
/* Works ONLY on Chrome and Firefox */
input[type=range].simple {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range].simple:focus {
  outline: none;
}
input[type=range].simple::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0px rgba(0, 0, 0, 0), 0px 0px 0.4px rgba(13, 13, 13, 0);
  background: #a5b4b6;
  border-radius: 0px;
  border: 0px solid #7a8182;
}
input[type=range].simple::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 16px;
  width: 24px;
  border-radius: 0px;
  background: #1c4762;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].simple:focus::-webkit-slider-runnable-track {
  background: #adbbbd;
}

input[type=range].simple::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0px rgba(0, 0, 0, 0), 0px 0px 0.4px rgba(13, 13, 13, 0);
  background: #a5b4b6;
  border-radius: 0px;
  border: 0px solid #7a8182;
}
input[type=range].simple::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 16px;
  width: 24px;
  border-radius: 0px;
  background: #1c4762;
  cursor: pointer;
}

/********************************************/

